parameters:
    level: 7
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: true

